.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 77%;
    margin-top: 60px; 
    margin-left: 23%;
    scroll-behavior: auto;
}

@media(max-width: 775px){
    .Posts{
        width: 100%;
        margin-left: 0px;
        margin-top: 80px; 
    }
}
/* @media(max-width: 800px){
    .Posts{
        width: 100%;
    }
} */